.heroimg {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  /*background-image: url("");*/
}

a.navbar-item {
  color: white;
  background-color: black;
}
