<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img src="../assets/img/logo-white.png">
    </a>
  </div>
  <div class="navbar-start">
    <a class="navbar-item" routerLink="/restaurants">
      Restaurants
    </a>
    <a class="navbar-item" routerLink="/tours">
      Touren
    </a>
  </div>
</nav>

<router-outlet></router-outlet>

<!--
Login
<app-session-user></app-session-user>
<app-login></app-login>
-->

<footer class="footer">
  <div class="content has-text-centered">
    <p><img src="../assets/img/icon-black.png"/></p>
    <p><strong>Wos zum Essn?</strong></p>
    <p>Abschlussprojekt Java Winter <a href="https://www.awacademy.de/">Academy</a> 2019 von Thomas Raich, Daniel
      Knogler und Andreas Redeker</p>
  </div>
</footer>
