.pics {
  border-radius: 6px;
}

agm-map {
  height: 300px;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

a {
  color: #4a4a4a;
}

a:hover {
  color: darkgray;
}
