<h2 class="title">Alle Restaurants</h2>
<div class="container">
  <ng-container *ngFor="let r of restaurants" [class.selected]="r === selectedRestaurant">
    <div class="media box">
      <figure class="media-left is-hidden-mobile ">
        <p class="image is-128x128">
          <img class="pics" src="{{ r.pictureUrl }}" alt="{{ r.restaurantName }}">
        </p>
      </figure>
      <div class="media-content">
        <figure class="is-hidden-desktop is-hidden-tablet">
          <p class="image is-1by1">
            <img class="pics" src="{{ r.pictureUrl }}" alt="{{ r.restaurantName }}">
          </p>
        </figure>
        <p>
          <span class="subtitle">{{r.restaurantName}} </span>
          <span class="tag">{{ r.category.categoryName }}</span>
        </p>
        <i class="fas fa-map-marker"></i>
        {{r.address}}<br>
        <i class="fas fa-clock"></i>
        {{r.openingHours}}<br>
        <i class="fas fa-quote-left"></i>
        {{ r.description }}<br>
        <ng-container *ngIf="r.website">
          <p><a href="{{r.website}}" target="blank"><i class="fas fa-globe"></i> Website <i class="fas fa-external-link-alt"></i></a></p>
        </ng-container>
        <br>

        <!------------- DETAILS ------------->

        <button class="button is-small is-rounded" (click)="onSelectRest(r)">
          <span>Details</span><span class="icon is-small"> <i class="fas fa-chevron-down"> </i> </span>
        </button>
        <br>

        <div class="columns" *ngIf="r === selectedRestaurant">
          <div class="column is-two-thirds-desktop">
            <br>
            <ng-container *ngIf="r.descriptionLong">
              <strong>Beschreibung</strong>
              <p>{{ r.descriptionLong }}</p>
              <br>
            </ng-container>
            <ng-container *ngIf="r.menu">
              <p><strong><a href="{{r.menu}}" target="blank">Speisekarte <i class="fas fa-external-link-alt"></i></a></strong></p>
              <br>
            </ng-container>

            <strong>Fotos</strong>
            <div class="columns is-multiline">
              <div class="column"><img src="{{ r.picture1Url }}" alt="{{ r.restaurantName }}"></div>
              <div class="column"><img src="{{ r.picture2Url }}" alt="{{ r.restaurantName }}"></div>
              <div class="column"><img src="{{ r.picture3Url }}" alt="{{ r.restaurantName }}"></div>
              <div class="column"><img src="{{ r.picture4Url }}" alt="{{ r.restaurantName }}"></div>
              <div class="column"><img src="{{ r.picture5Url }}" alt="{{ r.restaurantName }}"></div>
            </div>
            <strong>Karte</strong>

            <agm-map [latitude]="r.lat" [longitude]="r.lng" [zoom]="17">
              <agm-marker [latitude]="r.lat" [longitude]="r.lng"></agm-marker>
            </agm-map>

          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
