<section class="hero is-large is-dark is-bold">
  <div class="hero-body heroimg">
    <div class="container has-text-centered">
      <h1 class="title">
        Wir helfen dir, passende Restaurants zu finden.
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column">
        <a routerLink="restaurants">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/bVWGUemqotE/1280x960" alt="Restaurants">
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <span class="title">Restaurants</span>
            </div>
          </div>
        </a>
      </div>

      <div class="column">
        <a routerLink="tours">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/NAqb9c29SlA/1280x960" alt="Touren">
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <span class="title">Touren</span>

            </div>
          </div>
        </a>
      </div>

      <div class="column">
        <a routerLink="guides">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/oXVCgaDqX30/1280x960" alt="Guides">
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <span class="title">Guides</span>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
