.column {
  transition: 0.2s;
}

.column:hover {
  transform: scale(1.02);
}

.heroimg {
  background: url("src/assets/img/bg.jpeg") center / cover;
}

/*
.title {
  text-shadow: 0px 1px 20px black;
  font-size: 3rem;
}
*/
