<form *ngIf="sessionUser === null" (ngSubmit)="login()">
  <label>Username: <input name="username" [(ngModel)]="loginData.username"></label><br>
  <label>Password: <input type="password" name="password" [(ngModel)]="loginData.password"></label><br>
  <button type="submit">Los</button>
</form>
<hr>
<button *ngIf="sessionUser !== null" (click)="logout()">Logout</button>
