<section class="section">
  <div class="container">
    <h2 class="title">Unsere Food-Guides</h2>

    <ng-container *ngFor="let g of guides" [class.selected]="g == selectedGuide" (click)="onSelect(g)">
      <div class="media box">
        <figure class="media-left">
          <p class="image is-128x128">
            <img class="pics" src="{{ g.pictureUrl }}" alt="{{ g.guideName }}">
          </p>
        </figure>
        <div class="media-content">
          <span class="subtitle">{{g.guideName}} </span> <br>
          <!--          <span class="tag">Noch {{ t.numberOfParticipants }} Plätze</span><br>-->
          <i class="fas fa-quote-left"></i> Motto: "{{g.motto}}"<br>
          <i class="fas fa-quote-left"></i> {{g.description}}<br>
          <!--          <i class="fas fa-street-view"></i> {{ g.tour.tourName }}<br>-->

        </div>
        <!--<div class="media-right">
          <span class="subtitle">64,00 €</span>
        </div>-->
      </div>
    </ng-container>
  </div>
</section>
