<section class="section">
  <div class="container">
    <h2 class="title">Unsere Food-Touren</h2>

    <ng-container *ngFor="let t of tours" [class.selected]="t == selectedTour" (click)="onSelect(t)">
      <div class="media box">
        <figure class="media-left">
          <p class="image is-128x128">
            <img class="pics" src="{{ t.pictureUrl }}" alt="{{ t.tourName }}">
          </p>
        </figure>
        <div class="media-content">
          <span class="subtitle">{{t.tourName}} </span>
          <span class="tag">Noch {{ t.numberOfParticipants }} Plätze</span><br>
          <i class="fas fa-map-marker"></i>
          {{t.startingPoint}}<br>
          <i class="fas fa-clock"></i>
          {{t.duration}}h<br>
          <i class="fas fa-quote-left"></i>
          {{ t.description }}<br>
          <!-- <i class="fas fa-street-view"></i>
           {{ t.guide.guideName }}<br>-->

          <!--        <i class="fas fa-globe"></i> <a href="http://{{r.website}}" target="blank"> {{ r.website }}</a> <br>-->

          <!------------- DETAILS ------------->
          <br>
          <button class="button is-small is-rounded is-success" (click)="onSelectTour(t)">Diese Tour buchen</button>
          <div *ngIf="t === selectedTour">
            <br>
            <p><input class="input" type="text" placeholder="Text input"></p>
            <input class="input" type="text" placeholder="Text input">
            <input class="input" type="text" placeholder="Text input">
            <input class="input" type="text" placeholder="Text input">
            <button class="button">Verbindlich buchen</button>
          </div>
        </div>
        <div class="media-right">
          <span class="subtitle">{{t.price}} €</span>
        </div>
      </div>
    </ng-container>
  </div>
</section>
