.btn {
}

.btn:hover {
  color: darkgray;
}
.btn.selected {
  background-color: lightgray;
}

.btn.selected:hover {
  color: black;
}

.pics {
  border-radius: 6px;
}

.pictures {
  display: flex;
  flex-direction: row;
}

.picture {
  padding-right: 6px;
  width: 128px;
  height: 128px;
}

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

agm-map {
  height: 300px;
}

a {
  color: #4a4a4a;
}

a:hover {
  color: darkgray;
}
